<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.jcala.xmarket">

    <uses-permission android:name="me.jcala.xmarket.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".mvp.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.user.login.LoginRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.user.login.register.next.RegisterNextActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.user.login.register.phone.RegisterPhoneActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.trade.add.TradeAddActivity"
            android:label="添加商品"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.user.trade.UserTradeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.team.trade.TeamTradeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.team.add.TeamAddActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.user.team.UserTeamActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.trade.detail.TradeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.sort.trades.TradeTagDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.White"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.White"/>

        <!--dbc  add part-->
        <activity
            android:name=".mvp.message.detail.StartTradeMessageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--dbc add end-->

        <service android:name=".mvp.message.MessageService">
            <intent-filter>
                <action android:name="me.jcala.xmarket.mvp.message.MessageService"/>
            </intent-filter>
        </service>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <!-- 注册广播 -->
        <receiver android:name=".util.BroadUtils">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".mvp.message.MessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <category android:name="me.jcala.xmarket"/>
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="50dad89f3e19be5f900d59fd"/> <!-- </>值来自开发者平台取得的AppKey -->
    </application>

</manifest>